
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {%- include "_partials/_prefetch.njk" %}

    <title>{{ title }} | {{ project.brandName }}</title>

    {%- include "_partials/_metatags.njk" %}

    {%- include "_partials/_styles.njk" %}

    {%- include "_partials/_analytics.njk" %}

    {%- if homepage %}    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>{%- endif %}
