---
eleventyExcludeFromCollections: false
layout: _default.njk
title: Impossible
description : Impossible page description
heading: Impossible
engagement: Impossible page engagement text
includeinsitemap: false
includeinanalytics: false
styles: []
scripts: []
date: Last Modified
tags: ['pages', 'support']
---
{% block content %}
    <main>
      <div class="default-grid">

        <section>
          <h2>Once you eliminate the impossible, whatever remains, no matter how improbable, must be the truth.</h2>
          <br>
          <h3><em>Sherlock Holmes (Sir Arthur Conan Doyle, 1859-1930)</em></h3>
        </section>

        <hr style="border-top: 1px dashed teal;">

        <section>
          <h2>Complex systems built from scratch will continually fail in all sorts of unexpected ways</h2>
          <br>
          <h3><em>Gall’s Law</em></h3>
        </section>

      </div>
    </main>
{% endblock %}