---
eleventyExcludeFromCollections: true
title: Robots.txt
permalink: /robots.txt
date: Last Modified
tags: ['pages', 'support']
---
# www.robotstxt.org
# Created By - {{ config.url }} {{ page.date | dateToFormat('yyyy-MM-dd') }}
User-agent: *
Disallow:
Sitemap: {{ config.url }}/sitemap.xml
