---
eleventyExcludeFromCollections: false
layout: _default.njk
title: Layout Course ✔️
description : Layout Course page description
heading: Layout Course
engagement: Layout Course page engagement text
styles: []
scripts: []
date: Last Modified
tags: ['pages', 'test']
---
{% block content %}
    <style>
  
        .wrapper {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: minmax(0, 1fr) 1fr 1fr 1fr minmax(0, 1fr);
            grid-template-rows: repeat(7, [row] auto  );
            padding-bottom: 1rem;
        }

        .box {
           border: 1px solid #c7c7c7;
           border-radius: .25rem;
           padding: 1rem;
        }
    
        .one   { grid-column: 2 / 4; grid-row: 1 / 2; }
        .two   { grid-column: 2 / 4; grid-row: 2 / 3; }
        .three { grid-column: 2 / 4; grid-row: 3 / 4; }
        .four  { grid-column: 2 / 4; grid-row: 4 / 5; }
        .five  { grid-column: 4 / 5; grid-row: 1 / 2; }
        .six   { grid-column: 4 / 5; grid-row: 2 / 3; }
        .seven { grid-column: 4 / 5; grid-row: 3 / 4; }

        @media only screen and (max-width: 768px) {
            .one   { grid-column: 2 / 5; grid-row: 1 / 2; }

            .six   { grid-column: 2 / 3; grid-row: 2 / 3; }
            .five  { grid-column: 3 / 4; grid-row: 2 / 3; }
            .seven { grid-column: 4 / 5; grid-row: 2 / 3; }

            .two   { grid-column: 2 / 5; grid-row: 3 / 4; }
            .three { grid-column: 2 / 5; grid-row: 4 / 5; }
            .four  { grid-column: 2 / 5; grid-row: 5 / 6; }
        }

        @media only screen and (max-width: 576px) {
            .one   { grid-column: 2 / 5; grid-row: 1; }
            .six   { grid-column: 2 / 5; grid-row: 2; }
            .five  { grid-column: 2 / 5; grid-row: 3; }
            .seven { grid-column: 2 / 5; grid-row: 4; }
            .two   { grid-column: 2 / 5; grid-row: 5; }
            .three { grid-column: 2 / 5; grid-row: 6; }
            .four  { grid-column: 2 / 5; grid-row: 7; }
        }

    </style>
    <main>

        <h4>Course page content grid layout</h4>

        <div class="wrapper nine">
                <div class="box one">1. SAFe for Teams</div>
                <div class="box two">2. About SAFe for Teams</div>
                <div class="box three">3. Course Information</div>
                <div class="box four">4. Professional Development</div>

                <div class="box five">5. Find Training</div>
                <div class="box six">6. Topics Covered</div>
                <div class="box seven">7. Related Courses</div>
        </div>

    </main>
{% endblock %}