---
eleventyExcludeFromCollections: false
layout: _default.njk
title: Layout Test 1 ✔️
description : Layout Test 1 page description
heading: Layout Test 1
engagement: Layout Test 1 page engagement text
styles: []
scripts: ['holderjs']
date: Last Modified
tags: ['pages', 'test']
---
{% block content %}
    <style>

    </style>
    <main>

        <h4>Full Bleed grid layout</h4>

        <div class="full-bleed-grid">

            <section class="full-bleed-breakout">
                <img class="full-bleed img-fluid" data-src="holder.js/1920x250?auto=yes&textmode=exact" alt="SEO: The image promotional and keyword rich ALT text">
            </section>

            <section class="full-bleed-breakout one">
                # 1. Header Image full width with call to action
            </section>

            <section class="two">
                2. Banner/block USP Why book with us? points (3-4 max)
            </section>

            <section class="three">3. Upcoming Courses Blocks (3 to start)
            </section>

            <section class="full-bleed-breakout four"># 4. Banner full width Looking for in-house course in your location?</section>

            <section class="five">5. Banner/block : Image  / Our Values / we specialise in , etc</section>

            <section class="full-bleed-breakout six"># 6. Full width banner/block- Lean-Agile Consultancy Services with short blurb</section>

            <section class="seven">7. Blocks (4-6) with images with headings describing specialisations</section>

            <section class="eight">8. Globally recognised standards 12 SAFe Logos </section>

            <section class="nine">
                <h1>Section Title</h1>
                <p>Sed autem necessitatibus quibusdam rerum suscipit aspernatur. Aut voluptatem animi rerum vero et et. Explicabo vel pariatur dolorem voluptas blanditiis quia magni eos. Ab temporibus nam tempora.</p>
                <p>Sed autem necessitatibus quibusdam rerum suscipit aspernatur. Aut voluptatem animi rerum vero et et. Explicabo vel pariatur dolorem voluptas blanditiis quia magni eos. Ab temporibus nam tempora.</p>
            </section>

        </div>
    </main>
{% endblock %}
